@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
html {
  font-family: 'Roboto Mono';
  text-align: center;
  padding: 1rem;
  background-color: #111518;
  color: #AFC5CA;
}

input:not([type]), input[type="number"] {
  font-size: 1rem;
  padding: .5rem;
  text-align: center;
  display: block;
  width: calc(100% - 2rem);
  border-radius: 5px;
  background: transparent;
  border: 3px solid #2F75AA;
  color: #AFC5CA;
  margin-bottom: 1rem;
}

button {
  font-size: 1.2rem;
  padding: .75rem;
  background-color: #2F75AA;
  border: none;
  border-radius: 5px;
  margin: 1rem;
}

#copy-btn {
  background-color: transparent;
  border: 3px solid #2F75AA;
  color: #AFC5CA;
  padding: calc(.77rem - 3px);
}

.error {
  background-color: #FCABB3;
  color: #FC051D;
  padding: .5rem;
}

p {
  text-align: left;
}
